/*
Author: Rick van Bork
Std. nr.: 11990503

Course: Programming Project

The following script sets the styling of the visualizations for an F1 oriented
website.
*/

.about {
  padding-bottom: 100px;
}

/*datamaps overwrites fillKey after slider update*/
.datamaps-bubble {
	fill: grey !important;
  cursor: pointer; /* Cursor on hover */
}

.axis path {
	stroke: black;
	stroke-width: 1;
	shape-rendering: crispEdges;
	fill: none;
}

#piechart path {
  stroke-width: 3;
  stroke: #343a40;
  fill-opacity: 0.7
}

#piechart path:hover {
  fill-opacity: 1;
}

.line { 
	stroke: #343a40;
	stroke-width: 1px;
	fill: none;
}

.lineCircle {
	fill: white;
  stroke: #343a40;
	stroke-width: 3px;
}

.overlay {
	fill: none;
	stroke: none;
	pointer-events: all;
}

.focusLine {
	fill: none;
	stroke: black;
	stroke-width: 0.5px;
}

.focusCircle {
	fill: black;
}

/* Overwrite bootstrap*/
.bg-primary {
  background-color: #8b0000 !important;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 500px; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  opacity: 0.9;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 100%;
  background: #8b0000;
  cursor: pointer;
}

.tip {
  line-height: 1;
  width: 56px;
  margin-left: 38px;
  margin-top: 1px;
  font-size: 8px;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  border-radius: 10px;
  pointer-events: none;
}

.piechart.tip {
    width: 130px;
    font-size: 12px;
}

/*creates a small triangle pointing to the left*/
.bar.tip::after {
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;

  /*Triangle of 5 x 7 pixels*/
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  /*color the same as background of .d3-tip*/
  border-right: 7px solid rgba(0, 0, 0, 0.8);

  position: absolute;
  top: 50%;
  margin-top: -5px;
  margin-right: -2px; 
  right: 100%;
  z-index: 2; 
}

.row .vis {
  height: 475px;
  padding-right: 0;
  padding-left: 0;
}

/*sets gutter between row*/
#row0 {
  margin-bottom: 20px;
}

/*sets gutter between columns*/
.vis.col-md-8 {
  position: relative;
  margin-right: 20px;
}

/*set column containing map in the middle*/
#mapcolumn {
  width: 50%;
  margin: 0 auto;
}

.map.functions {
  margin: auto;
  width: 600px;
  height: 100%;
}

/*formatting for map title*/
.title {
  margin: 0 auto;
  height: 80px;
  text-align: center;
  font-size: 25px;
}

.title p {
    font-size: 20px;
    font-style: italic;
}

.slidecontainer {

  /*push to bottom*/
  position: absolute;
  bottom: 0;

  width: 75%;
  height: 10px;

  /*center absolute div*/
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#myRange {
  width: 100%;
}

/*container for both slider and map container*/
#map-slide-container {
  position: relative;
  height: 80%;
  bottom: 0px;
}

/*map position and border*/
#container {
  overflow: hidden;
  background: lightcyan;
  float: left;
}

/*sets all edges around edged divs*/
.edge {
  border-radius: 30px;
  border: 5px solid #343a40;
}

/*sets general options width*/
.options {
  margin-right: 20px;
  width: 220px;
}

/*container for map options*/
.map.options {
  position: relative;
  height: 100%;
  float: right;
}

.options.edge {
  height: 75%;
}

.form-check {
  margin-left: 20px;
  font-size: 18px;
}

h5 {
  margin-top: 10px;
  text-align: center;
}

/*line under header*/
h5:after
{
  width: 75%;
  margin: 0 auto;
  content: ' ';
  display: block;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.infolist {
  margin-top: 15px;
  font-size: 12px;
}

.infolist li {
  margin-top: 4px;
}

#graph-container {
  height: 90%;
  width: 55%;
  margin-left: 20px;
}

.graph.title, .pie.title {
  text-align: left;
  padding-left: 20px;
}

.pie.title {
  height: 80px;
}

.graph.title {
  height: 120px;
}

.graph.title p {
  margin: 0;
}

.graph.title p:nth-child(3) {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
}

/*info window for the reg changes*/
#graph-container .info {
  margin-top: 0.5%;
  float: right;
  height: 50%;
  width: 50%;
  background-color: yellow;
}

#ruletable-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
}

/*set opacity and color to uneven table rows*/
tr:nth-child(even) {
    background: rgba(52, 58, 64, 0.2);
}

/*general table layout*/
table {
    margin: auto;
    width: 80%;
    font-family: arial, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    margin-bottom: 2%;
}

td, th {
    border: 2px solid #343a40;
    text-align: left;
    padding: 5px;
}

tr th:nth-child(2) {
  width: 55%;
}

tr th:nth-child(1) {
  width: 40%;
}

/*pie container div*/
.pie.contructors {
  width: 100%;
  height: 75%;
}

/*centers pie chart in the container div*/
#pieChart {
  display: block;
  margin: auto;
}