/*
* Nooit puntcomma's
*/

.axis path {
	stroke: black;
	stroke-width: 1;
	shape-rendering: crispEdges;
	fill: none;
}

.line { 
	stroke: grey;
	stroke-width: 2;
	fill: none;
}

.lineCircle {
	fill: white;
	stroke: grey;
	stroke-width: 3px;
}

.overlay {
	fill: none;
	stroke: none;
	pointer-events: all;
}

.focusLine {
	fill: none;
	stroke: black;
	stroke-width: 0.5px;
}

.focusCircle {
	fill: black;
}

#container {
	overflow: hidden;
	background: lightcyan;
}